table {
  width: 100px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  // overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

hr {
  margin-top: 20px;
}

table th,
table td {
  // padding: 12px;
  text-align: left;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

table td {
  color: #444;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: #f0f0f0;
}

button {
  background-color: #3498db;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #333;
}

button:hover {
  background-color: #2980b9;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cart-container {
  flex: 1;
  margin: 20px;
}

.address-container {
  margin: 20px;
  flex: 0 0 300px;
  padding: 20px;
  border: 1px solid #ddd;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 0;
  margin: 10px;
  bottom: 0;
  position: relative;
}

/* Estilos para os botões mat-button */
.buttons-container button {
  width: 100%;
  padding: 20px;
  margin: 5px;
  margin-top: 100%;
}

.buttons-container .red-button {
  background-color: rgb(250, 54, 54);
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: left; 
}

.book-list app-book-card {
  margin-bottom: 20px;
  margin: 20px;
}
