<mat-toolbar color="primary">
  <h1>> Livraria FACOL <</h1>
  <span><a routerLink="/livros" class="link">Livros</a></span>
  <span><a class="link">Compras</a></span>
  <span class="fill-space"></span>
  <button mat-icon-button routerLink="/carrinho">
    <mat-icon [matBadge]="this.countItems()" aria-hidden="false">shopping_cart</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="userMenu">{{this.user}}</button>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <span mat-menu-item>Perfil</span>
  <button mat-menu-item (click)="logout()">Sair</button>
</mat-menu>
