.mat-toolbar {
  background-color: #3498db;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); 
}

.mat-toolbar-row {
  justify-content: space-between;
}

a.link {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
}

span:hover {
  opacity: 80%;
}

.fill-space {
  flex: 1 1 auto;
}

button.mat-button {
  color: white;
}

button.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mat-menu-content {
  background-color: #fff;
  color: #3498db;
}

.mat-menu-item {
  background-color: #fff;
  color: #3498db;
}

.mat-menu-item:hover {
  background-color: #3498db;
  color: white;
}

.snackbar {
  background-color: #3498db;
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase; 
  letter-spacing: 4px; 
  padding-right: 10px;
  text-align: center; 
  border-radius: 8px; 
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); 
}
