.book-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: left; 
  }
  
  .book-list app-book-card {
    margin-bottom: 20px;
    margin: 20px;
  }
  