/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar {
  --mdc-snackbar-container-color: rgb(229, 235, 247);
  --mat-mdc-snack-bar-button-color: white;
  margin-bottom: 100px;
}
