<mat-card>
  <mat-card-header>
    <mat-card-title>{{ book.name }}</mat-card-title>
    <div class="book-icon-wrapper">
      <mat-icon class="book-icon">book</mat-icon>
    </div>
    <mat-card-subtitle>Código: {{ book.code }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ book.description }}</p>
    <p>Quantidade: {{ book.stock }}</p>
    <p style="color: green; font-size: 1.8em">R${{ book.value }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="remove()" [disabled]="!book.inCart">Remover</button>
    <button mat-button color="primary" (click)="save()" [disabled]="book.inCart">Comprar</button>
  </mat-card-actions>
</mat-card>
